:root {
    --main-color: brown;
    --white: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--white);
    background-color: var(--main-color);
}

.btn {
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--main-color);
    background-color: var(--white);
}

.container {
    width: 60%;
    margin: 0 auto;
}

.box {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--main-color);
    background-color: var(--white);
}
